/// SCSS variables

// Colors
$dark-bg-color: #282b33;
$light-bg-color: #fff;

$theme-color: #f46480;
$text-color: #a5abb7;
$emphasized-text-color: #a6acb8;
$accent-text-color: #3f4450;

// Typography
$font: 'Source Code Pro', monospace;
$base-text-size: 16px;
