/**
 * About Page CSS
 */

body.about {

	.avatar img {
		border-radius: 50%;
	}

	.vcard {
		margin: 50px 0;
		padding: 50px 50px;
		border: 1px solid $primary-color;

		> .row {
			align-items: center;	
		}

		.info {

			span {
				color: #b0b0b0;
				font-size: 0.9rem;
			}

			p {
			    margin-bottom: 1rem;
			    font-family: Menlo, sans-serif;
			    font-size: 1em;
			}
		}

		.social-links {
			margin-top: 2em;

			a {
				font-size: 20px;
			    color: rgba(255, 255, 255, 0.85);
			    margin-right: 15px;

			    &:hover,
			    &:focus {
			    	color: $primary-color;
			    }
			}
		}
	}
}