/**
 * About Page SCSS
 */

body.about {

	/* Vcard */

	.vcard {
		margin: 50px 0;
		padding: 50px 50px;
		border: 1px solid $primary-color;

		> .row {
			align-items: center;	
		}

		/* Avatar Image */

		.avatar img {
			border-radius: 50%;
		}

		/* At a glance information */

		.info {

			span {
				color: #b0b0b0;
				font-size: 0.9rem;
			}

			p {
			    margin-bottom: 1rem;
			    font-family: Menlo, sans-serif;
			    font-size: 1em;
			}
		}

		/* About page specific social links */

		.social-links {
			margin-top: 2em;

			a {
				font-size: 20px;
			}
		}
	}

	/* About page content */

	.about-content {

		/* Menu/index for content navigation */

		.about-index {
			margin-top: 2.75rem;
			list-style: none;
			position: sticky;
    		top: 15px;

			li {
				line-height: 2;
				font-size: 1.05em;

				a {
					color: #fff;
					text-decoration: none;

					&:hover,
					&:focus {
						text-decoration: underline;
					}
				}

				> ul {
					padding-left: 5px;
					list-style: none;
				}
			}
		}

		/* Travel country list */

		ol.country-list {
			padding-inline-start: 30px;
    		margin: 20px 0;
		}
	}
}
