/**
 * Footer CSS
 */

footer {
	padding: 15px 0;

	a {
		text-transform: none;
	}

	.social-links {
		display: flex;
    	justify-content: flex-end;
    	align-items: center;

		a {
			font-size: 16px;
		    color: rgba(255, 255, 255, 0.85);
		    margin-right: 15px;

		    &:hover,
		    &:focus {
		    	color: $primary-color;
		    }
		}
	}
}