/**
 * Footer SCSS
 */

footer {
	margin-top: 50px;
	padding: 15px 0;

	/* Footer Links */

	a {
		text-transform: none;
	}

	/* Footer Specific Social LInks */

	.social-links {
		display: flex;
    	justify-content: flex-end;
    	align-items: center;

		a {
			font-size: 16px;
		}

		@media only screen and ( max-width: 767px ) {
			margin-top: 20px;
    		justify-content: flex-start;
		}
	}
}
