/**
 * Homepage SCSS File
 */

/* Center the homepage content */

body.home {

	main {
		display: flex;
		align-items: center;

		@media only screen and ( min-height: 650px ) {
			height: calc(100vh - 234px);
		}
	}

	.name {
		margin-bottom: 30px;
	
		span {
			margin-bottom: 0;
			color: rgba(255, 255, 255, 0.7);
		}
	}

	.tldr {
		line-height: 26px;
		margin-bottom: 30px;

		ul {
			list-style: none;
			margin-left: 30px;
		}
	}
}
