/**
 * Presets SCSS
 */

/*
 * Colors
 */

body {
	background-color: $bg-dark;
	color: $font-color-light;
}

header {
	background-color: $primary-color;
}

a {
	color: $primary-color;

	&:hover,
	&:focus {
		color: $font-color-light;
	}

	&.inline-link {
		color: #fff;
		text-decoration: none;
		-webkit-text-decoration-skip: objects;
		background-color: transparent;
		background-image: linear-gradient(180deg,transparent 80%,rgba(85, 81, 255, 0.7) 0);
		outline: none;

		&:hover,
		&:focus {
			background-image: linear-gradient(180deg,transparent 50%,rgba(85, 81, 255, 1) 0);
		}
	}
}