/**
 * Project Template CSS
 */

body.single-project {

	.single-project-sidebar {

		.project-image {
			width: 100%;
			border-radius: 15px;
			margin-bottom: 20px;
		}

		.github-link,
		.wporg-link {
			display: block;
			margin-bottom: 20px;
		}
	}

	.entry-content {

		.entry-title {
			margin-top: 0;
			margin-bottom: 1.5em;
		}
	}
}