/**
 * Project Template CSS
 */

body.single-project {

	.back-link {
		display: inline-block;
		color: #fff;
		margin-bottom: 1em;
		text-decoration: none;
		font-size: 1.05em;

		&:hover,
		&:focus {
			color: $primary-color;
		}

		.back-arrow {
			display: inline-block;
			font-size: 2em;
			vertical-align: sub;
		}
	}

	.single-project-sidebar {

		.project-image {
			width: 100%;
			border-radius: 15px;
			margin-bottom: 20px;
		}

		.github-link,
		.wporg-link,
		.website-link {
			display: block;
			margin-bottom: 20px;
		}
	}

	.single-project-entry {

		.entry-title {
			margin-top: 0;
			margin-bottom: 10px;
		}

		span.category {
		    border-radius: 15px;
		    text-transform: lowercase;
		    padding: 5px 15px;
		    margin-right: 10px;
		    font-size: 0.9rem;

		    &.react {
		    	background-color: #61dafb;
		    	color: #000;
		    }

		    &.wordpress {
		    	background-color: #0073aa;
		    	color: #fff;
		    }

		    &.php {
		    	background-color: #8892BF;
		    	color: #fff;
		    }

		    &.javascript {
		    	background-color: #F6DA1C;
		    	color: #000;
		    }

		    &.css {
		    	background-color: #563d7c;
		    	color: #fff;
		    }
		}

		.project-content-nav {
			margin-top: 2.5em;
			margin-bottom: 1.5em;
			border-bottom: 1px solid #ddd;

			.nav-item {
				margin-right: 10px;
			}

			.nav-link {
				border: none;
    			color: rgba(255, 255, 255, 0.75);

    			&.active {
    				background-color: transparent;
				    color: #fff;
				    border-bottom: 3px solid #5551ff;
    			}
			}
		}

		.entry-content {

			img {
				max-width: 100%;
				width: auto !important;
    			height: auto !important;
			}

			figure {
				width: 100% !important;

				img {
					width: auto !important;
					height: auto !important;
				}
			}

			a {
				color: #fff;
				text-decoration: underline;

				&:hover,
				&:focus {
					color: $primary-color;
				}
			}
		}
	}
}