/**
 * Typography SCSS
 */

html {
	font-size: 16px;
}

body {
	font-family: $primary-font;
	font-weight: 400;
	line-height: 1.45;
}

p {
	margin-bottom: 1.25em;
	font-family: 'Avenir';
    font-size: 1.2em;
}

h1, h2, h3, h4, h5 {
	margin: 2.75rem 0 1rem;
	font-weight: 400;
	line-height: 1.15;
	font-family: $primary-font;
}

h1 {
	margin-top: 0;
	font-size: 3.052em;
}

h2 {
	font-size: 2.441em;
}

h3 {
	font-size: 1.953em;
}

h4 {
	font-size: 1.563em;
}

h5 {
	font-size: 1.25em;
}

small, .text_small {
	font-size: 0.8em;
}

.navbar-brand {
    letter-spacing: -2px;
    text-transform: lowercase;
}

header {
	text-transform: lowercase;
}
