/**
 * Sass Variables
 */

/*
 * Colors
 */

$primary-color: rgb( 86, 81, 255 );
$bg-dark: #000;
$bg-light: #fff;
$font-color-dark: #000;
$font-color-light: #fff;

/*
 * Typography
 */

$primary-font: Menlo, sans-serif;