/**
 * Comments list SCSS
 */

.comments-list {

    .comments-container {

        .comment-container {
            margin-bottom: 50px;

            .comment {

                &.reply {
                    padding-left: 50px;
                }

                .author {
                    margin-bottom: 25px;

                    .author-avatar {
                        border-radius: 50%;
                        margin-right: 10px;
                        vertical-align: middle;
                    }

                    .comment-meta {
                        display: inline-block;
                        vertical-align: middle;

                        .comment-date {
                            font-size: 13px;
                        }
                    }
                }
            }
        }
    }
}
