/**
 * Project Main Sass File
 */

/* Import Bootstrap */
@import "~bootstrap/scss/bootstrap";

/* Variables */
@import "variables";

/* Resets */
@import "resets";

/* Typography */
@import "typography";

/* Presets */
@import "presets";

/* Form */
@import "form";

/* Code */
@import "code";

/* Button */
@import "button";

/* Header */
@import "header";

/* Homepage */
@import "homepage";

/* About Page */
@import "about";

/* Projects Page */
@import "projects";

/* Project Template */
@import "single-project";

/* Blog Page */
@import "blog";

/* Post Template */
@import "single-post";

/* Footer */
@import "footer";
